<div class="template-row bg-white">
<div class="inner">
<h2><a id="FALL"></a>Fall Semester 2023</h2>
<p><a href="#SPRING" class="anchor">Jump to Spring Schedule</a></p>
<div class="table-scroll"><table class="styled-table">
<tbody>
<tr><th>If your class begins on the day(s) below</th><th>between these times</th><th colspan="2">Your final exam is scheduled for this day and time<br><span class="helpnote">(Click a day to highlight the exam times for that day.)</span></th></tr>
<tr class="fallFri8" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" rowspan="11" onclick="labelClick();">Monday, Wednesday, Friday <br> or any combination of these days</td>
<td>6:45 AM</td>
<td>Friday 12/8</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="fallFri8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>8:00 - 8:50 AM</td>
<td>Friday 12/8</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="fallWed6" onclick="highlightRow(this);" style="background-color:transparent;">
<td>9:00 - 9:50 AM</td>
<td>Wednesday 12/6</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="fallFri8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>10:00 - 10:50 AM</td>
<td>Friday 12/8</td>
<td>10:15 AM - 12:15 PM</td>
</tr>
<tr class="fallWed6" onclick="highlightRow(this);" style="background-color:transparent;">
<td>11:00 - 11:50 AM</td>
<td>Wednesday 12/6</td>
<td>10:15 AM - 12:15 PM</td>
</tr>
<tr class="fallFri8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>12:00 - 12:50 PM</td>
<td>Friday 12/8</td>
<td>12:45 PM - 2:45 PM</td>
</tr>
<tr class="fallWed6" onclick="highlightRow(this);" style="background-color:transparent;">
<td>1:00 - 1:50 PM</td>
<td>Wednesday 12/6</td>
<td>12:45 PM - 2:45 PM</td>
</tr>
<tr class="fallFri8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>2:00 - 2:50 PM</td>
<td>Friday 12/8</td>
<td>3:00 PM - 5:00 PM</td>
</tr>
<tr class="fallWed6" onclick="highlightRow(this);" style="background-color:transparent;">
<td>3:00 - 3:50 PM</td>
<td>Wednesday 12/6</td>
<td>3:00 PM - 5:00 PM</td>
</tr>
<tr class="fallFri8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>4:00 - 4:50 PM</td>
<td>Friday 12/8</td>
<td>5:00 PM - 7:00 PM</td>
</tr>
<tr class="fallFri8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>5:00 - 5:50 PM</td>
<td>Friday 12/8</td>
<td>5:00 PM - 7:00 PM</td>
</tr>
<tr class="fallMon11" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">Monday Evening</td>
<td>all times</td>
<td>Monday 12/11</td>
<td>6:30 PM - 8:30 PM</td>
</tr>
<tr class="fallWed6" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">Wednesday Evening</td>
<td>all times</td>
<td>Wednesday 12/6</td>
<td>6:30 PM - 8:30 PM</td>
</tr>
<tr>
<td class="divider" colspan="4">&nbsp;</td>
</tr>
<tr class="fallThu7" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" rowspan="11" onclick="labelClick();">Tuesday, Thursday <br> or both of these days</td>
<td>6:45 AM</td>
<td>Thursday 12/7</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="fallThu7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>8:00 - 8:50 AM</td>
<td>Thursday 12/7</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="fallThu7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>9:00 - 9:20 AM</td>
<td>Thursday 12/7</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="fallSat9" onclick="highlightRow(this);" style="background-color:transparent;">
<td>9:30 - 9:50 AM</td>
<td>Saturday 12/9</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="fallSat9" onclick="highlightRow(this);" style="background-color:transparent;">
<td>10:00 - 10:50 AM</td>
<td>Saturday 12/9</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="fallThu7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>11:00 - 11:50 AM</td>
<td>Thursday 12/7</td>
<td>10:15 AM - 12:15 PM</td>
</tr>
<tr class="fallSat9" onclick="highlightRow(this);" style="background-color:transparent;">
<td>12:00 - 12:50 PM</td>
<td>Saturday 12/9</td>
<td>10:15 AM - 12:15 PM</td>
</tr>
<tr class="fallSat9" onclick="highlightRow(this);" style="background-color:transparent;">
<td>1:00 - 1:50 PM</td>
<td>Saturday 12/9</td>
<td>10:15 AM - 12:15 PM</td>
</tr>
<tr class="fallThu7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>2:00 - 2:50 PM</td>
<td>Thursday 12/7</td>
<td>12:45 PM - 2:45 PM</td>
</tr>
<tr class="fallThu7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>4:00 - 4:50 PM</td>
<td>Thursday 12/7</td>
<td>3:00 PM - 5:00 PM</td>
</tr>
<tr class="fallThu7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>5:00 - 5:50 PM</td>
<td>Thursday 12/7</td>
<td>5:00 PM - 7:00 PM</td>
</tr>
<tr class="fallTue12" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">Tuesday Evening</td>
<td>all times</td>
<td>Tuesday 12/12</td>
<td>6:30 PM - 8:30 PM</td>
</tr>
<tr class="fallThu7" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">Thursday Evening</td>
<td>all times</td>
<td>Thursday 12/7</td>
<td>7:00 PM - 9:00 PM</td>
</tr>
<tr>
<td class="divider" colspan="4">&nbsp;</td>
</tr>
<tr class="fallSat9" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">Saturday</td>
<td>all times</td>
<td>Saturday 12/9</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr>
<td class="divider" colspan="4">&nbsp;</td>
</tr>
<tr class="fallSat9" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">No Exams Scheduled, times held for Conflict Resolution</td>
<td>all times</td>
<td>Saturday 12/9</td>
<td>12:45 PM - 2:45 PM</td>
</tr>
<tr class="fallSat9" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">No Exams Scheduled, times held for Conflict Resolution</td>
<td>all times</td>
<td>Saturday 12/9</td>
<td>3:00 PM - 5:00 PM</td>
</tr>
</tbody>
</table></div>

<h2><a id="SPRING"></a>Spring Semester 2024</h2>
<p><a href="#FALL" class="anchor">Jump to Fall Schedule</a></p>
<div class="table-scroll"><table class="styled-table">
<tbody>
<tr><th>If your class begins on the day(s) below</th><th>between these times</th><th colspan="2">Your final exam is scheduled for this day and time<br><span class="helpnote">(Click a day to highlight the exam times for that day.)</span></th></tr>
<tr class="springMonday 5/6" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" rowspan="11" onclick="labelClick();">Monday, Wednesday, Friday <br> or any combination of these days</td>
<td>6:45 AM</td>
<td>Monday 5/6</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="springMonday 5/6" onclick="highlightRow(this);" style="background-color:transparent;">
<td>8:00 - 8:50 AM</td>
<td>Monday 5/6</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="springWed8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>9:00 - 9:50 AM</td>
<td>Wednesday 5/8</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="springMonday 5/6" onclick="highlightRow(this);" style="background-color:transparent;">
<td>10:00 - 10:50 AM</td>
<td>Monday 5/6</td>
<td>10:15 AM - 12:15 PM</td>
</tr>
<tr class="springWed8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>11:00 - 11:50 AM</td>
<td>Wednesday 5/8</td>
<td>10:15 AM - 12:15 PM</td>
</tr>
<tr class="springMonday 5/6" onclick="highlightRow(this);" style="background-color:transparent;">
<td>12:00 - 12:50 PM</td>
<td>Monday 5/6</td>
<td>12:45 PM - 2:45 PM</td>
</tr>
<tr class="springWed8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>1:00 - 1:50 PM</td>
<td>Wednesday 5/8</td>
<td>12:45 PM - 2:45 PM</td>
</tr>
<tr class="springMonday 5/6" onclick="highlightRow(this);" style="background-color:transparent;">
<td>2:00 - 2:50 PM</td>
<td>Monday 5/6</td>
<td>3:00 PM - 5:00 PM</td>
</tr>
<tr class="springWed8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>3:00 - 3:50 PM</td>
<td>Wednesday 5/8</td>
<td>3:00 PM - 5:00 PM</td>
</tr>
<tr class="springMonday 5/6" onclick="highlightRow(this);" style="background-color:transparent;">
<td>4:00 - 4:50 PM</td>
<td>Monday 5/6</td>
<td>5:00 PM - 7:00 PM</td>
</tr>
<tr class="springWed8" onclick="highlightRow(this);" style="background-color:transparent;">
<td>5:00 - 5:50 PM</td>
<td>Wednesday 5/8</td>
<td>5:00 PM - 7:00 PM</td>
</tr>
<tr class="springMonday 5/6" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">Monday Evening</td>
<td>all times</td>
<td>Monday 5/6</td>
<td>6:30 PM - 8:30 PM</td>
</tr>
<tr class="springWed8" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">Wednesday Evening</td>
<td>all times</td>
<td>Wednesday 5/8</td>
<td>6:30 PM - 8:30 PM</td>
</tr>
<tr>
<td class="divider" colspan="4">&nbsp;</td>
</tr>
<tr class="springTue7" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" rowspan="11" onclick="labelClick();">Tuesday, Thursday <br> or both of these days</td>
<td>6:45 AM</td>
<td>Tuesday 5/7</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="springTue7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>8:00 - 8:50 AM</td>
<td>Tuesday 5/7</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="springThu9" onclick="highlightRow(this);" style="background-color:transparent;">
<td>9:00 - 9:50 AM</td>
<td>Thursday 5/9</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="springTue7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>10:00 - 10:50 AM</td>
<td>Tuesday 5/7</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr class="springTue7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>11:00 - 11:50 AM</td>
<td>Tuesday 5/7</td>
<td>10:15 AM - 12:15 PM</td>
</tr>
<tr class="springThu9" onclick="highlightRow(this);" style="background-color:transparent;">
<td>12:00 - 12:50 PM</td>
<td>Thursday 5/9</td>
<td>10:15 AM - 12:15 PM</td>
</tr>
<tr class="springThu9" onclick="highlightRow(this);" style="background-color:transparent;">
<td>1:00 - 1:50 PM</td>
<td>Thursday 5/9</td>
<td>10:15 AM - 12:15 PM</td>
</tr>
<tr class="springTue7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>2:00 - 2:50 PM</td>
<td>Tuesday 5/7</td>
<td>12:45 PM - 2:45 PM</td>
</tr>
<tr class="springThu9" onclick="highlightRow(this);" style="background-color:transparent;">
<td>3:00 - 3:50 PM</td>
<td>Thursday 5/9</td>
<td>3:00 PM - 5:00 PM</td>
</tr>
<tr class="springTue7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>4:00 - 4:50 PM</td>
<td>Tuesday 5/7</td>
<td>3:00 PM - 5:00 PM</td>
</tr>
<tr class="springTue7" onclick="highlightRow(this);" style="background-color:transparent;">
<td>5:00 - 5:50 PM</td>
<td>Tuesday 5/7</td>
<td>5:00 PM - 7:00 PM</td>
</tr>
<tr class="springTue7" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">Tuesday Evening</td>
<td>all times</td>
<td>Tuesday 5/7</td>
<td>6:30 PM - 8:30 PM</td>
</tr>
<tr class="springThu9" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">Thursday Evening</td>
<td>all times</td>
<td>Thursday 5/9</td>
<td>7:00 PM - 9:00 PM</td>
</tr>
<tr>
<td class="divider" colspan="4">&nbsp;</td>
</tr>
<tr class="springSat4" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">Saturday</td>
<td>all times</td>
<td>Saturday 5/4</td>
<td>8:00 AM - 10:00 AM</td>
</tr>
<tr>
<td class="divider" colspan="4">&nbsp;</td>
</tr>
<tr class="springTue7" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">No Exams Scheduled, times held for Conflict Resolution</td>
<td>all times</td>
<td>Tuesday 5/7</td>
<td>3:00 PM - 5:00 PM</td>
</tr>
<tr class="springThu9" onclick="highlightRow(this);" style="background-color:transparent;">
<td class="leftbasic" onclick="labelClick();">No Exams Scheduled, times held for Conflict Resolution</td>
<td>all times</td>
<td>Thursday 5/9</td>
<td>12:45 PM - 2:45 PM</td>
</tr>
</tbody>
</table></div>
</div>
</div>
<script>
/* REVISED FINAL EXAM SCHEDULES */

var backOut=false;
var i=0;

function labelClick(){
	backOut=true;
}

function toggleTDs(cls,color){
	var trs=document.getElementsByTagName("tr");
    var tds=document.getElementsByTagName("td");	
    if(color==="transparent"){
        for(i=0;i<tds.length;i++){
            tds[i].style.backgroundColor="transparent";
        }    
    } else {
        for(i=0;i<trs.length;i++){
            if(trs[i].className===cls){
                if(trs[i].childNodes[1].className==="leftbasic"){
                    trs[i].childNodes[3].style.backgroundColor="yellow";
                    trs[i].childNodes[5].style.backgroundColor="yellow";
                    trs[i].childNodes[7].style.backgroundColor="yellow";
                } else {
                    trs[i].childNodes[1].style.backgroundColor="yellow";
                    trs[i].childNodes[3].style.backgroundColor="yellow";
                    trs[i].childNodes[5].style.backgroundColor="yellow";
                }
            }
        }
    }
}

function highlightRow(tr){
	if(backOut===true){
		backOut=false;
		return;
	}
	// if the second td is highlighted 
	// set all tds to background:transparent
    // either labelled or not labelled will have elements for [3] (and [5]) so can test all for [3]
	if(tr.childNodes[3].style.backgroundColor==="yellow") {
		//clearTDs();
        toggleTDs(tr.className,"transparent");
	} else {  // it's transparent, and need to clear all tds (others may have been highlighted) then highlight all rows with this class.
		toggleTDs(tr.className,"transparent");
		toggleTDs(tr.className,"yellow");
	}
	
}

/* END REVISED FINAL EXAM SCHEDULES */

</script>